# Groq API
GROQ_API_KEY=""
GROQ_PASSWORD=""

# Exchange APIs
KRAKEN_API_KEY=""
KRAKEN_SECRET=""
COINBASE_API_KEY=""
COINBASE_SECRET=""
KUCOIN_API_KEY=""
KUCOIN_SECRET=""
KUCOIN_PASSWORD=""
BITFINEX_API_KEY=""
BITFINEX_SECRET=""
